/* Footer */

footer {
  background-color: #F2F2F2;
  color: #4F4F4F;
  padding: 30px 10px 30px 10px;
  margin-top: 40px;
}

footer h5 {
  font-weight: 700;
  font-size: 18px;
}

footer p {
  /*font-style: italic;*/
  font-size: 1em;
  /* 14 px */
  font-weight: 400;
  color: #BDBDBD;
  line-height: 1.8;
  padding-top: 10px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

footer ul li a:link {
  color: #4F4F4F;
  text-decoration: none;
}

footer ul li a:visited {
  color: #4F4F4F;
  text-decoration: none;
}

footer .site-map ul li a:hover {
  text-decoration: none;
  color: #BDBDBD;
}

footer ul li a:active {
  text-decoration: none;
}

.nav-stacked-custom li {
  display: inline-block;
}

.fa {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  background-color: #BDBDBD;
  text-decoration: none;
  border-radius: 50%;
}

.fa-copyright-custom {
  background-color: transparent;
  color: #BDBDBD;
  margin: 2px;
}

.footer-copyright {
  color: #BDBDBD;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: #F2F2F2 !important;
}

.fa-linkedin {
  color: #F2F2F2 !important;
}

.fa-envelope {
  color: #F2F2F2 !important;
}

footer hr {
  padding: 0;
  margin: 0;
  border-color: #E0E0E0;
}

.centered-footer {
  text-align: center;
}
