.form-group label {
  /*color: #5361AC;*/
  color: #4F4F4F;
  font-weight: 500;
}

.form-section {
  color: #5361AC;
  font-size: 18px;
  padding: 5px 0px 5px 0px;
}

fieldset {
  margin-top: 20px;
}

.checkbox {
  margin-bottom: 20px;
}

.application, .app-confirmation {
  background-color: #F2F2F2;
  padding: 30px;
  margin-top: 30px;
}
