/* Navigation Bar */

.navbar-default {
  background-color: #1c214e;
  border-color: #1c214e;
}

.navbar-default .navbar-brand {
  color: #f2f2f2;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  /*color: #7378a8;*/
  color: #BDBDBD;
}

.navbar-default .navbar-text {
  color: #f2f2f2;
}

.navbar-default .navbar-nav>li>a {
  color: #f2f2f2;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  /*color: #7378a8;*/
  color: #BDBDBD;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  /*color: #7378a8;*/
  color: #BDBDBD;
  background-color: #1c214e;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  /*color: #7378a8;*/
  color: #BDBDBD;
  background-color: #1c214e;
}

.navbar-default .navbar-toggle {
  border-color: #1c214e;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1c214e;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #f2f2f2;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #f2f2f2;
}

.navbar-default .navbar-link {
  color: #f2f2f2;
}

.navbar-default .navbar-link:hover {
  /*color: #7378a8;*/
  color: #BDBDBD;
}

.navbar-custom {
  /*border-bottom-color: #f2f2f2;*/
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-right: 10px;
}

.navbar-brand>img {
  max-height: 100%;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.navbar-default {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Navbar Button (below NOT copied over)  */

/*.navbar-btn {
  background-color: #1C214E;
  border: 1px solid #F2F2F2;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-top: 10px;
  margin-left: 5px;
  color: #F2F2F2;
}*/

.nav-btn {
  border: 1px solid #F2F2F2;
  color: #F2F2F2;
  padding: 50px;
}

.navbar-btn:link, .navbar-btn:visited {
  color: #F2F2F2;
  text-decoration: none;
}

.navbar-btn:hover, .navbar-btn:active, .navbar-btn:focus {
  color: #BDBDBD;
  text-decoration: none;
  background-color: #F2F2F2;
}
