/* Navigation Bar */

.navbar-default {
  background-color: #1c214e;
  border-color: #1c214e;
}
.navbar-default .navbar-brand {
  color: #f2f2f2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #7378a8;
}
.navbar-default .navbar-text {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7378a8;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #7378a8;
  background-color: #1c214e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #7378a8;
  background-color: #1c214e;
}
.navbar-default .navbar-toggle {
  border-color: #1c214e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1c214e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f2f2f2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f2f2f2;
}
.navbar-default .navbar-link {
  color: #f2f2f2;
}
.navbar-default .navbar-link:hover {
  color: #7378a8;
}

.navbar-custom {
  border-bottom-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-right: 10px;
}

.navbar-brand > img {
  max-height: 100%;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.navbar-btn {
  background-color: #1C214E;
  border: 2px solid #F2F2F2;
  padding-bottom: 3px;
  padding-top: 3px;
}

.navbar-btn > a:link {
  color: #F2F2F2;
  text-decoration: none;
}

.navbar-btn > a:visited {
  color: #F2F2F2;
  text-decoration: none;
}

.navbar-btn > a:hover {
  color: #7378a8;
  text-decoration: none;
}

.navbar-btn > a:active {
  color: #7378a8;
  text-decoration: none;
}
