
/* Style Page Links
 *
 * .col-sm-7 a:link, .col-sm-7 a:visited
 *
*/

.bodylink:link, .bodylink:visited {
  color: #5361AC;
  font-weight: 500;
  border-bottom: 1px dashed #5361AC;
}

.bodylink:hover, .bodylink:active{
  color: #BDBDBD;
  text-decoration: none;
  border-bottom-color: #BDBDBD;
}
