/* Page Buttons */

.btn-lg {
  background-color: #5361AC;
  border: none;
  width: 140px;
  color: white;
}

form button {
  background-color: #5361AC;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  width: 105px;
  height: 40px;

}
