/* Fonts */

body {
  font-family: 'Lato', sans-serif;
}

/* Navigation Bar */

.navbar-custom {
  background-color: #1C214E;
  border-bottom-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-right: 10px;
}

.navbar-brand > img {
  max-height: 100%;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.navli-custom a:link {
  color: white !important;
}

.navli-custom > a:visited {
}

.navli-custom > a:hover {
  color: red;
  background-color: blue;
}

.navli-custom > a:active {
}


/* Footer */

footer {
  background-color: #F2F2F2;
}
