/*
*
*
*
*
DELETE MEEEE
*
*
*
*/

/* Schedule */

.panel-default {
  border-radius: 0px;
}

.panel>.panel-heading {
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
}

.panel>.panel-body {
  font-size: 16px;
  font-weight: 300;
}

.panel>div span {
  font-size: 30px;
  font-weight: 400;
  color: #E0E0E0;
  padding-right: 10px;
}

#schedule {
  padding-top: 20px;
}

.panel-schedule>.panel-body {
  background-color: #E0E0E0;
  border: none;
  font-size: 16px;
}

.panel-schedule>.panel-body>ul {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
  font-weight: 300;
}

/* Old temp link styling */

.panel-schedule>.panel-body>p {
  font-weight: 700;
  color: #5361AC;
  font-size: 14px;
}

.panel-body strong {
  font-size: 16px;
}

/* Style Panel CTAs */

.cta-body:link, .cta-body:visited {
  color: #5361AC;
  font-weight: 700;
  font-size: 14px;
}

.cta-body:hover, .cta-body:active {
  color: #5361AC;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}
