/* Header */

header {
  background-color: #5361AC;
  margin-bottom: 0px;
}

header img {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Breadcrumbs */
.breadcrumb {
  border-radius: 0;
}

header ol li a:link, header ol li a:visited{
  color: #5361AC;
  text-decoration: none;
}

header ol li a:hover, header ol li a:active {
  text-decoration: none;
  color: #BDBDBD;
}

/* Fonts */

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #5361AC;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}

/* Links
#section3 a:link {
  font-weight: 400;
  color: #5361AC;
  border-bottom: 1px dashed #5361AC;
  padding-bottom: 3px;
}

a:visited {
}

#section3 a:hover {
  text-decoration: none;
} */

.affix {
  top: 40px;
}

/* Sticky sidebar */

#sidebar {
  margin-top: 24px;
}

.sidebar-cta {
    padding-top: 10px;
    font-weight: 700;
    color: #5361AC;
}

.sidebar-title {
  padding-left: 14px;
  font-size: 24px;
  font-weight: 700;
}

/* Sidebar active */
.nav-pills > li.active > a {
  background-color: transparent;
  color: #5361AC;
  font-weight: 700;
}

.nav-pills>li.active>a:hover {
    background-color: transparent;
    color: #5361AC;
}

/* Sidebar NONactive */
.nav-pills> li > a {
  color: #4F4F4F;
}

.nav-pills > li > a:hover {
  background-color: transparent;
}

/* Sidebar call to action */
.nav-pills > .sidebar-cta > a {
  color: #5361AC;
}

.affix-bottom {
  position: absolute;
}


/* Schedule */
.panel-default {
  border-radius: 0px;
}

.panel > .panel-heading {
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
}

.panel > .panel-body {
  font-size: 16px;
  font-weight: 300;
}


.panel > div span {
  font-size: 30px;
  font-weight: 400;
  color: #E0E0E0;
  padding-right: 10px;
}

#schedule {
  padding-top: 20px;
}


.panel-schedule > .panel-body {
  background-color: #E0E0E0;
  border: none;
  font-size: 16px;
}

.panel-schedule > .panel-body > ul {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
  font-weight: 300;
}

/* Old temp link styling */
.panel-schedule > .panel-body > p {
    font-weight: 700;
    color: #5361AC;
    font-size: 14px;
}

.panel-body strong {
  font-size: 16px;
}

/* Style Panel CTAs */
.cta-body:link, .cta-body:visited {
  color: #5361AC;
  font-weight: 700;
  font-size: 14px;
}

.cta-body:hover, .cta-body:active {
  color: #5361AC;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

/* Page Buttons */

.btn-lg {
  background-color: #5361AC;
  border: none;
  width: 140px;
  color: #F2F2F2;
}

/* Style Page Links
 *
 * .col-sm-7 a:link, .col-sm-7 a:visited
 *
*/

.bodylink:link, .bodylink:visited {
  color: #5361AC;
  font-weight: 500;
  border-bottom: 1px dashed #5361AC;
}

.bodylink:hover, .bodylink:active{
  color: #BDBDBD;
  text-decoration: none;
  border-bottom-color: #BDBDBD;
}
